@model IEnumerable<MvcConciertosAMH.Models.Evento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Categorias">Ver categorias</a>
</p>

<p>
    <a class="btn btn-success" asp-action="CrearEvento">Crear evento</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artista)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                <a class="btn btn-danger" asp-controller="Conciertos" asp-action="Delete" asp-route-idevento="@item.IdEvento">Eliminar</a>
                <a class="btn btn-warning" asp-controller="Conciertos" asp-action="CambiarCategoria" asp-route-idevento="@item.IdEvento">Cambiar categoria</a>
            </td>
        </tr>
}
    </tbody>
</table>
